
	<html>
	<head>
		<!--link rel="stylesheet" src="/css/chess.css"-->
		<link rel="stylesheet" href="bower_components/chessboard.js/css/chessboard.css">
    	<link rel="stylesheet" href="bower_components/bootstrap-css/css/bootstrap.css">
		<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
		<link rel="stylesheet" href="css/chesslogger.css">
	</head>
	<body ng-app="ChessLoggerApp"  ng-controller="ChessLoggerCtrl">
		<script src="bower_components/jquery/dist/jquery.min.js"></script>
		<script src="bower_components/json3/lib/json3.min.js"></script>
		<script src="bower_components/chessboard.js/js/chessboard.js"></script>
	    <script src="bower_components/angular/angular.js"></script>
	    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
	    <script src="bower_components/bootstrap-css/js/bootstrap.js"></script>
		<script src="bower_components/chess.js/chess.js"></script>
		<script src="js/chessWrapperObjLib.js"></script>
		<script src="js/chessWrapper.js"></script>
		<script src="js/mongoRestFactory.js"></script>
		<script src="js/chessLogger.js"></script>
		
		<!-- MAIN FORM -->
		<div class="container">
			<div class="row">
				<div id="board1" class="col-md-5"></div>
				<div class="col-md-1"></div>
				<div class="col-md-6">
					<div class="row">
						<div id="controls" class="col-md-12 btn-toolbar">
							<div class="btn-group btn-group-lg">
								<span type="button" class="btn btn-default fa fa-refresh" ng-click="flipBoard()" title="Flip Board"></span>
								<span type="button" class="btn btn-default fa fa-fast-backward" ng-click="goToStart()" title="Back to Start"></span>
								<span type="button" class="btn btn-default fa fa-step-backward" ng-click="goBackOne()" title="Back up one move"></span>
								<span type="button" class="btn btn-default fa fa-undo" ng-click="undo()" title="Undo the last move in the list"></span>
								<span type="button" class="btn btn-default fa fa-step-forward" ng-click="goForwardOne()" title="Advance one move"></span>
								<span type="button" class="btn btn-default fa fa-fast-forward" ng-click="goToEnd()" title="Go To End Position"></span>
								<span type="button" class="btn btn-default fa fa-trash-o" ng-click="trashClick()" title="New Game"></span>
							</div>
							<div class="btn-group btn-group-lg">
								<span type="button" class="btn btn-default fa fa-save" ng-click="saveGame()" title="Save the game"></span>
								<a class="btn btn-default fa fa-folder-open-o dropdown-toggle" ng-click="getGames()" title="Load a game"></a>
								<div class="dropdown-menu">
									<table class="table table-hover" ng-hide="!savedGames.length" style="width: 300px">
										<tr ng-repeat="game in savedGames" ng-click="loadGame(game)">
											<td>{{game.gameInfo.white}} vs. {{game.gameInfo.black}}</td>
											<td>{{game.gameInfo.date}}</td>
											<!--td>
												<span type="button" class="btn btn-default btn-sm fa fa-delete" ng-click="deleteGame(game)" title="Delete this game from the database"></span>
											</td-->
										</tr>
									</table>
								</div>
							</div>
							<div class="btn-group btn-group-lg">
								<span type="button" class="btn btn-default fa fa-cog" ng-click="clickCog()" title="Show Modal"></span>
							</div>
						</div>
					</div>
					<div class="row">
						<ul id="moves" class="col-md-12">
							<li ng-repeat="tempo in game.rootLine.tempos" 
								class="move" 
								ng-class="{activeLine:game.isActive(tempo),inactiveLine:!game.isActive(tempo)}" 
								ng-include="'movelist.html'">
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="alert" ng-class="{'alert-success':message.isSuccess,'alert-danger':!message.isSuccess}"
			 ng-hide="!message.text">
				{{message.text}}
			</div>
			<div class="text-right"><small><em>check out the developer documentation <a href="./docs">here</a>.</em></small></div>
		</div>
		<script type="text/ng-template" id="movelist.html">
				<span ng-if="tempo.color=='w'" class="move-num tempo" 
					ng-class="{altline:line.priorTempos>0}">
						{{(($index+line.priorTempos)/2)+1}}. 
				</span>
				<span ng-if="requireWhitePlaceholder(tempo,$index)" 
							class="move-num tempo" 
							ng-class="{altline:line.priorTempos>0}">
						{{(($index+line.priorTempos+1)/2)}}. ...&nbsp;
				</span>
				<span class="tempo" 
						ng-class="{highlight: game.selectedTempo===tempo, 
											white:tempo.color=='w', 
											black:tempo.color=='b',
											altline:line.priorTempos>0}"
						ng-mouseOver="peekPosition(tempo)" 
						ng-click="setPosition(tempo)"> 
						{{tempo.san}}&nbsp;
				</span>
				<span ng-if="tempo.color=='b'">&nbsp; &nbsp;</span>
				<ul ng-if="tempo.lines.length>0" ng-repeat="line in tempo.lines">
					<li ng-repeat="tempo in line.tempos" 
						class="move"
						ng-class="{activeLine:game.isActive(tempo),inactiveLine:!game.isActive(tempo)}" 
						ng-include="'movelist.html'"></li>
				</ul>	
		</script>
	</body>
	
		