<html>
	<head>
		<!--link rel="stylesheet" src="/css/chess.css"-->
		<link rel="stylesheet" href="vendors/chessboardjs/css/chessboard-0.3.0.min.css">
    <link rel="stylesheet" href="bower_components/bootstrap-css/css/bootstrap.css">
		<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
		<style>
			.highlight {
				color: red;
				border: 1px solid red;
			}
			.inline {
				display: inline;
			}
		</style>
	</head>
	<body ng-app="ChessLoggerApp" ng-controller="ChessLoggerCtrl">
		<script src="bower_components\jquery\dist\jquery.min.js"></script>
		<script src="bower_components\json3\lib\json3.min.js"></script>
		<script src="vendors/chessboardjs/js/chessboard-0.3.0.min.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap-css/js/bootstrap.js"></script>
		<script src="vendors/chess.js/chess.min.js"></script>
		<script src="js/chessLogger.js"></script>
		<!--script src="js/chessWrapper.js"></script-->
		
		<div class="container">
			<div class="row">
				<div id="board1" class="col-md-5"></div>
				<div class="col-md-6">
					<div class="row">
						<div id="controls" class="col-md-12 btn-toolbar">
							<div class="btn-group btn-group-lg">
								<span type="button" class="btn btn-default glyphicon glyphicon-refresh" ng-click="flipBoard()" title="Flip Board"></span>
								<span type="button" class="btn btn-default glyphicon glyphicon-fast-backward" ng-click="goToStart()" title="Back to Start"></span>
								<span type="button" class="btn btn-default glyphicon glyphicon-chevron-left" ng-click="goBackOne()" title="Back up one move"></span>
								<span type="button" class="btn btn-default fa fa-undo" ng-click="undo()" title="Undo the last move in the list"></span>
								<span type="button" class="btn btn-default glyphicon glyphicon-chevron-Right" ng-click="goForwardOne()" title="Advance one move"></span>
								<span type="button" class="btn btn-default glyphicon glyphicon-fast-Forward" ng-click="goToEnd()" title="Go To End Position"></span>
								<span type="button" class="btn btn-default glyphicon glyphicon-asterisk" ng-click="newGame()" title="New Game"></span>
							</div>
							
						</div>
					</div>
					<div class="row">
						<div id="moves" class="col-md-12" style="white-space:normal">
							<div class="inline" ng-repeat="move in moves" style="white-space:nowrap">
								<div class="inline">{{move.num}}. </div>
								<div class="inline" 
										ng-class="{highlight: selectedTempo === move.white}"
										ng-mouseOver="peekPosition(move.white)" 
										ng-click="setPosition(move.white)"> 
										{{move.white.san}} 
								</div>
								<div class="inline" 
										ng-class="{highlight: selectedTempo === move.black}"
										ng-mouseOver="peekPosition(move.black)" 
										ng-click="setPosition(move.black)"> 
										{{move.black.san}}
								</div>
							</div>
							<div>
								&nbsp; &nbsp;
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
	
		