
	<html>
	<head>
		<!--link rel="stylesheet" src="/css/chess.css"-->
		<link rel="stylesheet" href="bower_components/chessboard.js/css/chessboard.css">
    	<link rel="stylesheet" href="bower_components/bootstrap-css/css/bootstrap.css">
		<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
		<link rel="stylesheet" href="css/chesslogger.css">
		<link rel="stylesheet" href="assets/annotations/styles.css">
	</head>
	<body ng-app="ChessLoggerApp"  ng-controller="ChessLoggerCtrl">
		<script src="bower_components/jquery/dist/jquery.min.js"></script>
		<script src="bower_components/json3/lib/json3.min.js"></script>
		<script src="bower_components/chessboard.js/js/chessboard.js"></script>
	    <script src="http://code.angularjs.org/1.2.15/angular.min.js"></script>
	    <script src="http://code.angularjs.org/1.2.15/angular-animate.min.js"></script>
	    <!-- script src="bower_components/angular/angular.js"></script>
	    <script src="bower_components/angular-animate/angular-animate.js"></script-->
	    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
	    <script src="bower_components/bootstrap-css/js/bootstrap.js"></script>
		<script src="bower_components/chess.js/chess.js"></script>
		<script src="js/chessWrapperObjLib.js"></script>
		<script src="js/chessWrapper.js"></script>
		<script src="js/mongoRestFactory.js"></script>
		<script src="js/multiAlertService.js"></script>
		<script src="js/chessLogger.js"></script>
		
		<!-- MAIN FORM -->
		<div class="eg-alerts">
			<div ng-repeat="alert in alerts" 
				class="alert eg-alert"
				ng-class="{'alert-info':alert.isLevel('info'),
							'alert-warning':alert.isLevel('warning'),
							'alert-danger':alert.isLevel('danger'),
							'alert-success':alert.isLevel('success')}">{{alert.text}}</div>
		</div>
		<div class="container">
			<div class="row gameInfo">
				<div class="col-md-5 lead">
					{{game.gameInfo.white}} vs {{game.gameInfo.black}}
				</div>
				<div class="col-md-7">
					{{game.gameInfo.event}}
					<span ng-hide="!game.gameInfo.location">
						@ {{game.gameInfo.location}}
					</span>
					<span class="text-right">
						{{game.gameInfo.date}}
					</span>
				</div>
		</div>
			<div class="row">
				<div id="board1" class="col-md-5"></div>
				<div class="col-md-7">
					<div class="row">
						<div id="controls" class="col-md-12">
							<div class="row btn-toolbar">
								<div class="col-md-12 col-lg-12 center-block">
									<div class="btn-group btn-group-lg center-block">
										<span type="button" class="btn btn-default fa chess-fa-refresh" ng-click="flipBoard()" title="Flip Board"></span>
										<span type="button" class="btn btn-default fa chess-fa-fast-backward" ng-click="goToStart()" title="Back to Start"></span>
										<span type="button" class="btn btn-default fa chess-fa-step-backward" ng-click="goBackOne()" title="Back up one move"></span>
										<span type="button" class="btn btn-default fa chess-fa-step-undo" ng-click="undo()" title="Delete the current move" ng-disabled="game.atEndOfMoveList()==false"></span>
										<span type="button" class="btn btn-default fa chess-fa-step-forward" ng-click="goForwardOne()" title="Advance one move"></span>
										<span type="button" class="btn btn-default fa chess-fa-fast-forward" ng-click="goToEnd()" title="Go To End Position"></span>
									</div>
									<div class="btn-group btn-group-lg center-block">
										<span type="button" class="btn btn-default fa chess-fa-save" ng-click="saveGame()" title="Save the game"></span>
										<div class="btn-group btn-group-lg">
											<span type="button" class="btn btn-default fa chess-fa-folder-open-o dropdown-toggle" ng-click="getGames()" title="Load a game"></span>
											<div class="dropdown-menu">
												<table class="table table-hover table-condensed" ng-hide="!savedGames.length" style="width: 300px">
													<th class="form-group class="col-md-8"">
														<span class='input-group input-group-sm'>
															<input type='text' class='form-control input-sm' placeholder='filter' ng-model='gameFilter.filterString'>
															<span class='input-group-addon glyphicon small glyphicon-search small'></span>
														</span>
													</th>
													<th class="col-md-4 form-group">
														<span class="btn-group btn-group-xs">
															<label class="btn btn-default" title="Show Remote Games" btn-radio="'rmt'"
																				btn-checkbox ng-model="gameFilter.showRemoteGames">Rmt</label>
															<label class="btn btn-default" title="Show Local Games" btn-radio="'lcl'"
																				btn-checkbox ng-model="gameFilter.showLocalGames">Lcl</label>
														</span>
													</th>
													<tr ng-repeat="game in savedGames" ng-click="loadGame(game)">
														<td><small>{{game.gameInfo.white}} vs. {{game.gameInfo.black}}</small></td>
														<td><small>{{game.gameInfo.date}}</small></td>
														<!--td>
															<span type="button" class="btn btn-default btn-sm fa fa-delete" ng-click="deleteGame(game)" title="Delete this game from the database"></span>
														</td-->
													</tr>
												</table>
											</div>
										</div>
										<span type="button" class="btn btn-default fa chess-newGame" ng-click="newClick()" title="New Game"></span>
										<span type="button" class="btn btn-default fa chess-fa-trash-o" ng-click="trashClick()" title="Delete"></span>
										<span type="button" class="btn btn-default fa chess-fa-cog" ng-click="clickCog()" title="Options"></span>
										</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-1 center-block  btn-toolbar">
							<div class=" btn-group btn-group-vertical">
								<span type="button" class="btn btn-default fa chess-good" ng-click="comment('!')" title="Good Move!"></span>
								<span type="button" class="btn btn-default fa chess-brilliant" ng-click="comment('!!')" title="Brilliant Move!"></span>
								<span type="button" class="btn btn-default fa chess-bad" ng-click="comment('?')" title="Bad move"></span>
								<span type="button" class="btn btn-default fa chess-blunder" ng-click="comment('??')" title="Blunder!"></span>
								<span type="button" class="btn btn-default fa chess-interesting" ng-click="comment('!?')" title="Deserves more analysis"></span>
								<span type="button" class="btn btn-default fa chess-dubious" ng-click="comment('?!')" title="Complicating, but probably bad."></span>
							</div>
							<div class=" btn-group btn-group-vertical">
								<span type="button" class="btn btn-default fa chess-advantageblack" ng-click="comment('-+')" title="Advantage black"></span>
								<span type="button" class="btn btn-default fa chess-advantagewhite" ng-click="comment('+-')" title="Advantage white"></span>
								<span type="button" class="btn btn-default fa chess-slightadvantageblack" ng-click="comment('-=')" title="Slight Advantage black"></span>
								<span type="button" class="btn btn-default fa chess-slightadvantagewhite" ng-click="comment('+=')" title="Slight Advantage white"></span>
								<span type="button" class="btn btn-default fa chess-withcompensation" ng-click="comment('=8')" title="Compensation for weaknesses, appears equal"></span>
								<span type="button" class="btn btn-default fa chess-uncertain" ng-click="comment('8')" title="uncertain"></span>
				
							</div>				
						</div>
						<ul id="moves" class="col-md-11">
							<li ng-repeat="tempo in game.rootLine.tempos" 
								class="move" 
								ng-class="{activeLine:game.isActive(tempo),inactiveLine:!game.isActive(tempo)}" 
								ng-include="'movelist.html'">
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="alert alert-dismissable cssFade" 
				ng-class="{'alert-success':message.isSuccess,'alert-danger':!message.isSuccess}"
				ng-hide="!message.text">
			 	<button type="button" class="close cssFade" data-dismiss="alert" aria-hidden="true">&times;</button>
  				{{message.text}}
			</div>
			<div class="text-right"><small><em>check out the developer documentation <a href="./docs">here</a>.</em></small></div>
		</div>
		
		<!-- 
			Template for displaying the movelist recursively.  This way we can iterate throught the 
			move list without having to pre-process the movelist for reading by twos 
		-->
			
		<script type="text/ng-template" id="movelist.html">
				<span ng-if="tempo.color=='w'" class="move-num tempo" 
					ng-class="{altline:line.priorTempos>0}">
						{{(($index+line.priorTempos)/2)+1}}. 
				</span>
				<span ng-if="requireWhitePlaceholder(tempo,$index)" 
							class="move-num tempo" 
							ng-class="{altline:line.priorTempos>0}">
						{{(($index+line.priorTempos+1)/2)}}. ...&nbsp;
				</span>
				<span class="tempo" 
						ng-class="{highlight: game.selectedTempo===tempo, 
											white:tempo.color=='w', 
											black:tempo.color=='b',
											altline:line.priorTempos>0}"
						ng-mouseOver="peekPosition(tempo)" 
						ng-click="setPosition(tempo)"> 
						{{tempo.san}}&nbsp;
				</span>
				<span ng-if="tempo.color=='b'">&nbsp; &nbsp;</span>
				<ul ng-if="tempo.lines.length>0" ng-repeat="line in tempo.lines">
					<li ng-repeat="tempo in line.tempos" 
						class="move"
						ng-class="{activeLine:game.isActive(tempo),inactiveLine:!game.isActive(tempo)}" 
						ng-include="'movelist.html'"></li>
				</ul>	
		</script>
	</body>
	
		