<!-- Modal template for saving the game -->
	<div class="modal-header">
		<h2>Save Game</h2>
	</div>
	<div>
		<form role="form" class="form-horizontal">
			<div class="form-group">
				<label for="event" class="col-sm-3 control-label">Event</label>
				<div class="col-sm-8">
					<input type="text" class="form-control" ng-model="gameInfo.event" id="event">
				</div>
			</div>
			<div class="form-group">
				<label for="gameDate" class="col-sm-3 control-label">Game Date</label>
				<div class="col-sm-8">
					<input type="date" class="form-control col-sm-8" ng-model="gameInfo.date" id="gameDate">
				</div>
			</div>
			<div class="form-group">
				<label for="gameLocation" class="col-sm-3 control-label">Location</label>
				<div class="col-sm-8">
					<input type="text" class="form-control col-sm-8" ng-model="gameInfo.location" id="location">
				</div>
			</div>
			<div class="form-group">
				<label for="white" class="col-sm-3 control-label">White</label>
				<div class="col-sm-8">
					<input type="text" class="form-control col-sm-8" ng-model="gameInfo.white" id="white">
				</div>
			</div>
			<div class="form-group">
				<label for="black" class="col-sm-3 control-label">Black</label>
				<div class="col-sm-8">
					<input type="text" class="form-control col-sm-8" ng-model="gameInfo.black" id="black">
				</div>
			</div>
			<div class="form-group" >
				<label for="result" class="col-sm-3 control-label">Result</label>
				<div class="btn-group col-sm-8" id="result">
					<button type="button" class="btn btn-default" title="Incomplete" btn-radio="'*'"
												ng-model="gameInfo.result">*</button>
					<button type="button" class="btn btn-default" title="White Won" btn-radio="'1-0'"
												ng-model="gameInfo.result">1-0</button>
					<button type="button" class="btn btn-default" title="Black Won" btn-radio="'0-1'"
												ng-model="gameInfo.result">0-1</button>
					<button type="button" class="btn btn-default" title="Draw" btn-radio="'.5-.5'"
												ng-model="gameInfo.result">.5-.5</button>
				</div>
			</div>
			<div class="well">
				<div class="form-group" >
					<label for="saveTo" class="col-sm-3 control-label">Save To:</label>
					<div class="btn-group col-sm-8" id="saveTo">
						<button type="button" class="btn btn-default" title="Browser Local Storage" btn-radio="'local'"
													ng-model="gameInfo.storage.location">Local</button>
						<button type="button" class="btn btn-default" title="Remote DB Server" btn-radio="'server'"
													ng-model="gameInfo.storage.location">Server</button>
					</div>
				</div>
				<div class="form-group" ng-hide="gameInfo.storage.location!='server'">
					<label for="url" class="col-sm-3 control-label">Server Url</label>
					<div class="col-sm-8">
						<input type="text" class="form-control col-sm-8" ng-model="gameInfo.storage.db.url" id="url">
					</div>
				</div>
				<div class="form-group" ng-hide="gameInfo.storage.location!='server'">
					<label for="db" class="col-sm-3 control-label">Server DB</label>
					<div class="col-sm-8">
						<input type="text" class="form-control col-sm-8" ng-model="gameInfo.storage.db.name" id="db">
					</div>
				</div>
				<div class="form-group" ng-hide="gameInfo.storage.location!='server'">
					<label for="collection" class="col-sm-3 control-label">collection</label>
					<div class="col-sm-8">
						<input type="text" class="form-control col-sm-8" ng-model="gameInfo.storage.db.collection" id="collection">
					</div>
				</div>
			</div>
		</form>
	</div>
	<div class="modal-footer">
		<button class="btn btn-primary" ng-click="ok()">OK</button>
      		<button class="btn btn-warning" ng-click="cancel()">Cancel</button>
	</div>
